{
  "presets": [
    ["@babel/preset-env", {
      "useBuiltIns": "usage",
      "corejs": "3",
      "targets": {
        "browsers": [
          "last 5 versions",
          "ie >= 14"
        ]
      }
    }]
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "@babel/plugin-proposal-class-properties",
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "@components": "./src/components/",
        "@pages": "./src/pages/",
        "@style": "./src/style/"
      }
    }]
  ]
}
