h2 {
    font-family: Lato, sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 0;
}

p {
    font-family: Poppins, sans-serif;
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 21px;
}

.info-section {
    margin: 60px 0;
}
