<section class="infoSection">
  <h2>
    Why to use?
  </h2>

  <vertical-slide>
    <div class="infoSection__details">
      <h3>🚀 Server Side Rendering</h3>
      <p>Ragu micro-frontends can be exported rendered at the server side improving the user experience and the load time.</p>
    </div>

    <div class="infoSection__details">
      <h3>📦 Build System</h3>
      <p>Ragu Server comes with a build system on top of webpack which you can extend though the ragu server configuration.</p>
    </div>

    <div class="infoSection__details">
      <h3>🤝 Coupleless Integration</h3>
      <p>Share code using private npm package requires project build to apply changes. Ragu enable independent deployment.</p>
    </div>
  </vertical-slide>
</section>
