:root {
  /* colors */
  --dark-color: #2B3332;

  /* fonts */
  --main-title-font-family: 'Poppins';
  --main-title-weight: 600;
  --secondary-title-font-family: 'Lato';
  --secondary-title-weight: 300;

  --default-font-family: 'Poppins';
  --link-font-family: 'Poppins';

  --main-menu-link-color: var(--dark-color);
}

body {
  color: var(--dark-color);
}

body, html {
  margin: 0;
  padding: 0;
}
